<app-slider 
    [title_slider]="'Blog'"
    [size] = "'small'"
>
</app-slider>

<div class="center">
    <section id="content">


        <article class="article-item article-detail">
            <div class="image-wrap">
                <img src="assets/imagenes/luffy.jpg" alt="luffy y hancok">
            </div>
            <h1 class="subheader">Articulo de Prueba</h1>
            <span class="date"> Hace 5 minutos</span>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat id quae rerum impedit neque pariatur sit beatae sunt nisi reiciendis minus, magni commodi labore illum consequuntur, facilis reprehenderit omnis.
                Labore ex veniam similique libero numquam repellendus laboriosam, id reprehenderit tenetur earum praesentium blanditiis vitae, deleniti nulla, quas et iste voluptatibus cupiditate quo magni facere. Placeat velit nobis dicta repellat!
                Deserunt veritatis labore voluptatibus voluptatum, nulla eaque itaque quos totam numquam accusantium at doloremque nemo, suscipit nobis! Perferendis quibusdam fugiat cum, nam reprehenderit tempora quia esse qui beatae repudiandae optio!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat id quae rerum impedit neque pariatur sit beatae sunt nisi reiciendis minus, magni commodi labore illum consequuntur, facilis reprehenderit omnis.
                Labore ex veniam similique libero numquam repellendus laboriosam, id reprehenderit tenetur earum praesentium blanditiis vitae, deleniti nulla, quas et iste voluptatibus cupiditate quo magni facere. Placeat velit nobis dicta repellat!
                Deserunt veritatis labore voluptatibus voluptatum, nulla eaque itaque quos totam numquam accusantium at doloremque nemo, suscipit nobis! Perferendis quibusdam fugiat cum, nam reprehenderit tempora quia esse qui beatae repudiandae optio!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat id quae rerum impedit neque pariatur sit beatae sunt nisi reiciendis minus, magni commodi labore illum consequuntur, facilis reprehenderit omnis.
                Labore ex veniam similique libero numquam repellendus laboriosam, id reprehenderit tenetur earum praesentium blanditiis vitae, deleniti nulla, quas et iste voluptatibus cupiditate quo magni facere. Placeat velit nobis dicta repellat!
                Deserunt veritatis labore voluptatibus voluptatum, nulla eaque itaque quos totam numquam accusantium at doloremque nemo, suscipit nobis! Perferendis quibusdam fugiat cum, nam reprehenderit tempora quia esse qui beatae repudiandae optio!
            </p>
            

            <div class="clearfix"></div>
        </article>
    </section>

    <app-sidebar></app-sidebar>
</div>